:root {
    --focus-border: #000;
    --focus-color: #79797b;
    --error-border: #e32e22;
    --error-color: #e32e22;
}
.tracking_promo_success {
    width: 1px;
    height: 1px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo_image {
    width: 1px;
    height: 1px;
}
form.uni-style {
    width: 639px;
    font-size: 16px;
}
form.uni-style .form-field {
    padding: 8px;
    flex-basis: 50%;
    flex-grow: 1;
}

form.uni-style .form-field label {
    left: 16px;
    font-size: 1.125em;
    margin-bottom: 0;
    line-height: 1;
    margin-top: 0.3em;
    transition: all 0.3s;
    font-weight: normal;
}

form.uni-style .form-field input,
form.uni-style .form-field select {
    font-size: 1.125em;
    height: 56px;
    background-color: var(--white);
    width: 100%;
    text-indent: 1em;
    padding-top: 18px;
    border-radius: 12px;
}

form.uni-style .form-field select {
    background-image: none;
}

form.uni-style .form-field .select_box:after {
    content: "";
    display: block;
    width: 17px;
    height: 10px;
    position: absolute;
    right: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../images/down-arrow.png);
    background-image: -webkit-image-set(url("../../../images/down-arrow.png") 1x,
            url("../../../images/down-arrow@2x.png") 2x);
    background-size: cover;
    pointer-events: none;
}

@-moz-document url-prefix() {
    form.uni-style .form-field select {
        text-indent: 0.5em;
    }
}

form.uni-style .form-field select.selected,
form.uni-style .form-field input {
    color: var(--black);
}

form.uni-style .form-field select,
form.uni-style .form-field ::placeholder {
    opacity: 1;
    color: #262626;
}

form.uni-style .form-field input:-internal-autofill-selected,
form.uni-style .form-field input:-webkit-autofill,
form.uni-style .form-field input:-webkit-autofill:focus {
    background-color: #fff !important;
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

form.uni-style .form-action [type="submit"].button[disabled] {
    opacity: 0.8;
    cursor: not-allowed;
}

form.uni-style .form-field .validation-error:before,
form.uni-style .form-field .incomplete-mask:before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    position: absolute;
    z-index: 2;
    right: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../images/error.png);
    background-image: -webkit-image-set(url("../../../images/error.png") 1x,
            url("../../../images/error@2x.png") 2x);
    background-size: cover;
    pointer-events: none;
}

form.uni-style .form-field .validation-error select,
form.uni-style .form-field .validation-error input,
form.uni-style .form-field .incomplete-mask input {
    border-color: var(--error-border);
    border-width: 2px;
}

form.uni-style .form-field .validation-error label,
form.uni-style .form-field .incomplete-mask label {
    color: var(--error-color);
}

form.uni-style .form-field .select_box.focused:after {
    transform: scaleY(-1);
}

form.uni-style .form-field .focused label,
form.uni-style .form-field .has-value label {
    font-size: 0.84375em;
    margin-top: calc(-2.9em + 24px);
    color: var(--focus-color);
}

form.uni-style .form-field .focused select,
form.uni-style .form-field .focused input {
    border-color: var(--focus-border);
    border-width: 2px;
}
@media screen and (max-width: 567px) {
    form.uni-style {
        width: calc(100% - 25px);
        z-index: 1;
        position: relative;
    }
    form.uni-style .form-row {
        flex-direction: column;
    }
    form.uni-style .form-field {
        padding: 6px 0;
    }
    form.uni-style .form-field label {
        font-size: 1em;
    }
    form.uni-style .form-field input,
    form.uni-style .form-field select {
        font-size: 1em;
        border-radius: 13px;
    }
}